<div class="col-xs-12 full-height">
    <div class="row header-row">
        <div class="col-xs-10">
            <ul class="nav nav-tabs" role="tablist" id="tabslist">
            </ul>
        </div>
        <div class="col-xs-2">
            <div class="btn-group">
                <button class="btn btn-danger" data-toggle="modal" data-target=".add-channel-modal">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
            <div class="modal fade add-channel-modal" tabindex="-1" role="dialog" aria-labelledby="add-room-modal" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Join/Create a room</h4>
                        </div>
                        <div class="modal-body">
                            <form role="form" id="join-form">
                                <div class="form-group">
                                    <label for="join-room" class="control-label">Room:</label>
                                    <input type="text" class="form-control" id="join-room">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" id="join-btn">Join</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-content main-row" id="tabs-content">
    </div>
</div>